@import './base.css';



.cursor-pointer {
  cursor: pointer;
}


.hover-tiltY {
  transition: all ease-in-out 0.4s;
}


.hover-tiltY:hover {
  transform: translateY(-5px);
}

/* 
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
